/*------------------------------------*\
  #TYPOGRAPHY VARIABLES
\*------------------------------------*/

@import '~modularscale-sass';

$modularscale: (
  base: 1em,
  ratio: $fourth
);

$font-weight: (
  regular: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700,
  heavy: 800
);

/*------------------------------------*\
  #COLOR VARIABLES
\*------------------------------------*/

$white: #fff;

$lt-gray: #eee;
$md-gray: #bcbcbc;

$dark-gray-text: #494949;
$md-gray-text: #757575;

/*------------------------------------*\
  #HEADER VARIABLES
\*------------------------------------*/

$header-height: ms(6);